name=fiotestpod290
labels=test:fio,devop:asreitz
image=datawiseio/fio
containerName=datawisefiocontainer
imagePullPolicy=Always
namespace=default
containerVolumeMount=fiotestvolume:/data
envvars=FIO_JOB_FILE:/config/job.fio,JOB_NAME:fiotestJob,NJ:6,QD:16,RT:300,BLOCK_SIZE:4k,DEV:/data/fiotestOutput,DIRECT:0,SIZE:5g,RW:randwrite
pvcClaim=fiotestmountpath:homeupgradepvc
numbercontainers=3