name=fiotestpod27
labels=test:fio,devop:asreitz
image=datawiseio/fio
containerName=datawisefiocontainer
imagePullPolicy=Always
namespace=kubecookerovernight
containerVolumeMount=fiotestvolume:/data
volumePathName=fiotestmountpath
envvars=FIO_JOB_FILE:/config/job.fio,JOB_NAME:fiotestJob,NJ:6,QD:16,RT:300,BLOCK_SIZE:4k,DEV:/data/fiotestOutput,DIRECT:0,SIZE:5g,RW:randwrite
claimName=homeupgradepvc
numbercontainers=3